.dvd {
  position: fixed;
  z-index: -1;
  inset: 0;
  opacity: 0.1;
  animation-name: initial-delay;
  animation-duration: 20s;
}

@keyframes initial-delay {
  0% {
    opacity: 0;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 0.1;
  }
}
