.typewriter-container {
  color: var(--type-writer-color);
  font-family: var(--type-writer-font-family);

  .socials-container {
    display: flex;
    flex-direction: row;

    img {
      width: 30px;
      height: 30px;
    }

    a {
      color: var(--type-writer-color);
      text-decoration: none;
      margin-right: 20px;

      &:hover img {
        box-shadow: 0 0 20px var(--type-writer-color-hover);
      }
    }
  }

  .link {
    color: var(--type-writer-color);
    text-decoration: underline;
    cursor: pointer;
    padding: 4px 8px 4px 0;
    transition: font-size 0.1s ease-in;

    &:hover {
      font-size: 1.1em;
    }
  }

  .first,
  .second,
  .third,
  .fourth,
  .fifth,
  .sixth {
    overflow: hidden;
    white-space: nowrap;
  }

  .first {
    animation: first 40s steps(100, end);
  }

  .second {
    animation: second 40s steps(100, end);
  }

  .third {
    animation: third 40s steps(100, end);
  }

  .fourth {
    animation: fourth 40s steps(100, end);
  }

  .fifth {
    animation: fifth 40s steps(100, end);
  }

  .sixth {
    animation: sixth 40s steps(100, end);
  }

  @keyframes first {
    0% {
      width: 0;
    }

    8% {
      width: 100%;
    }
  }

  @keyframes second {
    0% {
      width: 0;
      visibility: hidden;
    }

    8% {
      width: 0;
      visibility: visible;
    }

    12% {
      width: 100%;
    }
  }

  @keyframes third {
    0% {
      width: 0;
      visibility: hidden;
    }

    12% {
      width: 0;
      visibility: visible;
    }

    16% {
      width: 100%;
    }
  }

  @keyframes fourth {
    0% {
      width: 0;
      visibility: hidden;
    }

    16% {
      width: 0;
      visibility: visible;
    }

    20% {
      width: 100%;
    }
  }

  @keyframes fifth {
    0% {
      width: 0;
      visibility: hidden;
    }

    21% {
      width: 0;
      visibility: visible;
    }

    27% {
      width: 100%;
    }
  }

  @keyframes sixth {
    0% {
      width: 0;
      visibility: hidden;
    }

    27% {
      width: 0;
      visibility: visible;
    }

    33% {
      width: 100%;
    }
  }
}

@media screen and (width < 600px) {
  .typewriter-container {
    font-size: 0.7em;
  }
}

@media screen and (width < 480px) {
  .typewriter-container {
    font-size: 0.5em;
  }
}
