:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;

  // Variables

  // Text
  --text-dark: #213547;
  --text-light: white;

  // Background
  --background-dark: #010101;
  --background-light: #fff;

  // Typewriter
  --type-writer-font-family: 'Courier New', Courier, monospace;
  --type-writer-color: #00ff00;
}

body {
  margin: 0;
  min-width: 100%;
  min-height: 100svh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--text-dark);
    background-color: var(--background-light);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: var(--text-light);
    background-color: var(--background-dark);
  }
}
